body {
    background-color: hsl(212, 45%, 89%);
  }

.qr-code {font-family: 'Outfit';
  display: flex;
  flex-direction : column;
  justify-content: center;
  align-items: center;
  background-color: white;
}